# Ignore node_modules
node_modules/
.idea/*
.idea/

# Environment variables
.env
.env.local
.env.development
.env.production

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

**/.claude/settings.local.json
